{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kinopoisk-like Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'deps/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Kinopoisk</h1>
            <nav>
                <ul>
                    <li><a href="{% url "main:index" %}">Home</a></li>
                    <li><a href="{% url "movies:catalog"%}">Movies</a></li>
                    <li><a href="{% url "main:about" %}">About</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Kinopoisk. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
