{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "deps/css/catalog.css" %}">
<section class="container">
    <h2>Movie Catalog</h2>
    <div class="movie-list">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ movie.avatar.url }}" alt="{{ movie.name }}" class="movie-poster">
            <div class="movie-info">
                <h3>{{ movie.name }}</h3>
                <p>{{ movie.description }}</p>
                <p>Рейтинг: {{ movie.rating }}</p>
                <a href="{% url "movies:movie" movie.slug %}" class="btn">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</section>
{% endblock %}
