{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Catalog{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "deps/css/catalog.css" %}">
<section class="container">
    <h2>Catalog</h2>

    <div class="movie-list">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ movie.avatar.url }}" alt="{{ movie.name }}" class="movie-poster">
            <div class="movie-info">
                <h3>{{ movie.name }}</h3>
                <p>{{ movie.description|truncate_chars:100 }}</p>
                <p>Рейтинг: {{ movie.rating }}</p>
                <p>ID: {{ movie.id }}</p>
                <a href="{% url "movies:movie" movie.slug %}" class="btn">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>

	<nav aria-label="Page navigation example">
    	<ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not movies.has_previous %}disabled{% endif %}">
                    <a class="page-link" href={% if movies.has_previous %}
					{% url "movies:catalog" movies.previous_page_number %}
					{% else %}
					#
					{% endif %}
					>Previous</a>
                </li>
				{% for page in movies.paginator.page_range %}
					{% if page >= movies.number|add:-2 and page <= movies.number|add:2 %}
						<li class="page-item {% if movies.number == page %}active{% endif %}"	>
						<a class="page-link" href="{% url "movies:catalog" page %}">{{ page }}</a>
					</li>
					{% endif %}
				{% endfor %}
                <li class="page-item {% if not movies.has_next %}disabled{% endif %}">
                    <a class="page-link" href={% if movies.has_next %}
					{% url "movies:catalog" movies.next_page_number %}
					{% else %}
					#
					{% endif %}
					>Next</a>
                </li>
        	</div>
        </ul>
    </nav>                   
    
</section>
{% endblock %}
