{% extends 'base.html' %}
{% load static %}

{% block title %}{{ movie.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'deps/css/movie.css' %}">
<section class="container">
    <div class="movie-detail">
        <img src="{{ movie.avatar.url }}" alt="{{ movie.name }}" class="movie-poster">
        <div class="movie-info">
            <h2>{{ movie.name }}</h2>
            <p>{{ movie.description }}</p>
            <p>Рейтинг: {{ movie.rating }}</p>
            <p>Жанр: {{ movie.genre }}</p>
            <p>Дата релиза: {{ movie.created_year }}</p>
            <p>Бюджет: {{ movie.box_office }}.000.000 $</p>
        </div>

        {% if movie.video_file %}
        <div class="movie-video">
            <h3>Смотреть трейлер</h3>
            <video controls width="600">
                <source src="{{ movie.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    	{% endif %}
    </div>
</section>
{% endblock %}
