{% extends 'base.html' %}

{% block content %}
    <div class="container">
	<h1>Войдите свой аккаунт</h1>
    <hr>

    {% if form.errors %}
        <p>{{  form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Ернар гей</button>

    </form>
    <hr>
    <lo>Вы не зарегистрировались? <a href="{% url 'register' %}" >регистрироваться</a><lo>
    </div>
{% endblock %}
