/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    float: left;
    margin-left: 20px;
}
header h2 {
    float: left;
    margin-left: 20px;

}

header nav {
    float: right;
    margin-right: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f4f4f4;
}

.promo-banner {
    text-align: center;
    margin: 20px 0;
}

.promo-banner img {
    max-width: 100%;
    height: auto;
}

.movie-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
}

.movie img {
    max-width: 100%;
    height: auto;
}

.movie h3 {
    margin-top: 10px;
}

.movie p {
    color: #666;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-item {
    display: inline-block; /* Отображаем элементы списка в одну строку */
    margin-left: 5px; /* Отступ между элементами списка */
}

.nav-link {
    color: #333; /* Цвет текста ссылок */
    padding: 8px 12px; /* Отступы вокруг текста ссылок */
    display: inline-block; /* Отображаем элементы списка в одну строку */
}

.logout-button {
    background-color: #333333; /* Цвет фона кнопки */
    color: #ffffff; /* Цвет текста */
    border: none; /* Убираем границу кнопки */
    padding: 8px 10px;  /* Отступы вокруг текста кнопки */
    cursor: pointer; /* Изменяем курсор при наведении */
    text-decoration: none; /* Убираем подчеркивание текста */
    font-size: 16px; /* Размер шрифта */
}

.logout-button:hover {
    background-color: #333333; /* Цвет фона кнопки при наведении */
}
/* styles.css */

.form-group {
    margin-bottom: 15px; /* Отступ между группами полей */
}

.form-control {
    width: 100%; /* Ширина поля для ввода */
    padding: 10px; /* Поля вокруг текста в поле ввода */
    font-size: 16px; /* Размер шрифта */
}
